@font-face {
  font-family: 'IBMPlexMono-Regular';
  src: url('../fonts/IBMPlexMono-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100vw;
  height: 100vh;
  font-family: 'IBMPlexMono-Regular', monospace;
}

h1 {
  text-align: center;
}

.calculator {
  display: grid;
  border: 1px solid black;
  grid-template-columns: repeat(4, min-content);
  grid-template-rows: repeat(6, min-content);
  gap: 8px 8px;
  grid-auto-flow: row;
  grid-template-areas:
    'display display display display'
    'utility utility utility math'
    'numbers numbers numbers math'
    'numbers numbers numbers math'
    'numbers numbers numbers math'
    'numbers numbers numbers math';
  width: fit-content;
  margin: 0 auto;
  padding: 12px;
  border-radius: 20px;
}

.display {
  grid-area: display;
  display: flex;
  align-items: stretch;
  flex-direction: column;
  justify-content: end;
  text-align: end;
  font-size: 34px;
  line-height: 34px;
  padding: 4px 6px;
  border: 1px solid black;
  border-radius: 8px;
}

.display-main-row {
  font-size: 34px;
  line-height: 1;
}

.display-second-row {
  max-width: 210px;
  min-height: 14px;
  font-size: 14px;
  line-height: 1;
  text-align: end;
  text-wrap: nowrap;
  overflow-x: hidden;
}

.utility-panel {
  grid-area: utility;
}

.math-panel {
  grid-area: math;
}

.number-panel {
  grid-area: numbers;
}

.number-panel-list {
  margin-bottom: 8px;
}

ul {
  display: flex;
  gap: 8px;
}

.math-panel-list {
  display: flex;
  flex-direction: column;
}

button {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 8px;
}

button[data-value="0"] {
  width: 108px;
}

.footer {
  text-align: center;
  padding: 14px;
}
