@font-face {
  font-family: 'IBMPlexMono-Regular';
  src: url('../fonts/IBMPlexMono-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

.box {
  font-family: 'IBMPlexMono-Regular', monospace;
  color: red;
}
